@model  GigHub.ViewModels.GigFormViewModel

@{
    ViewBag.Title = "Create A Gig";
    Layout = "_Layout";
}

<h2>Create</h2>
<form>
    <div class="form-group">
        @Html.LabelFor(g => g.Venue)
        @Html.TextBoxFor(g => g.Venue, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(g => g.Date)
        @Html.TextBoxFor(g => g.Date, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(g => g.Time)
        @Html.TextBoxFor(g => g.Time, new { @class = "form-control"})
    </div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
</form>
